@charset "UTF-8";
/*Inicio Pie de Pagina*/
footer {
  background-image: url(../img/email-pattern-min.png);
  height: 238px;
  font-size: 1rem; }

.grid {
  display: grid;
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  grid-template-rows: 200px;
  gap: 10px;
  margin: 0; }

h4 {
  text-align: center;
  font-weight: bold;
  margin: 5px; }

.grid__footer {
  text-align: center;
  margin: 5px; }

.grid--map {
  width: 100px;
  height: 100px; }

/*Fin Pie de Pagina*/
/************
variable
*************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  font-family: 'Dancing Script', cursive;
  width: 100vw;
  height: 50px;
  margin: 0;
  padding: 0; }

.navbar {
  margin: 0;
  padding: 8px 0 0 0; }

h1 {
  color: black;
  font-size: x-large; }

.aside {
  width: 40px;
  height: 40px; }

/*Menu*/
.menuBar {
  width: 30px;
  height: 30px; }

nav ul {
  list-style: none;
  position: relative;
  text-align: center; }

nav > ul {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%; }

nav li {
  line-height: 3rem;
  background-color: transparent;
  font-weight: bold;
  font-size: 19px; }

nav li ul {
  display: none; }

nav > ul > li {
  float: left; }

nav a {
  color: black;
  display: block;
  padding: 0 2.5em;
  transition: 1s;
  text-decoration: none; }

nav a:hover {
  background: lightcoral;
  color: white;
  font-size: 16px; }

ul li:hover {
  background-color: #e58c8a;
  font-size: 20px;
  transition: 1s;
  border-radius: 5px; }

/*fin de Menu*/
/*****************
BUCLES
*******************/
.imgCat1 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat2 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat3 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat4 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat5 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat6 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat7 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat8 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat9 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat10 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat11 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat12 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat13 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat14 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat15 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat16 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat17 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat18 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat19 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat20 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat21 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat22 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat23 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat24 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

.imgCat25 {
  width: 250px;
  height: 250%;
  margin: 25px;
  border-radius: 5px;
  transform: skew(5deg); }

/****************
EACH - LISTAS
*****************/
main {
  font-family: 'Dancing Script', cursive;
  color: black; }

div {
  font-family: 'Dancing Script', cursive;
  color: black; }

aside {
  font-family: 'Dancing Script', cursive;
  color: black; }

section {
  font-family: 'Dancing Script', cursive;
  color: black; }

article {
  font-family: 'Dancing Script', cursive;
  color: black; }

footer {
  font-family: 'Dancing Script', cursive;
  color: black; }

/***************
MAPS
***************/
.grid--img {
  width: 28px;
  height: 28px; }

.grid--img {
  width: 28px;
  height: 28px; }

.grid--img {
  width: 28px;
  height: 28px; }

.grid--img {
  width: 28px;
  height: 28px; }

.grid--img {
  width: 28px;
  height: 28px; }

.grid--img {
  width: 28px;
  height: 28px; }

/*Contenido Pag*/
main {
  background-image: url(../img/body-min.png);
  width: 100%;
  margin: -9px -5px 0 0;
  padding: 0; }

.tamaño img {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0; }

.imgWide {
  width: 290px;
  height: 500px;
  margin: 0 0 20px 0;
  border-radius: 15px; }

.imgWide:hover {
  width: 310px;
  height: 550px;
  transition: 1.5s; }

.imgtrends {
  width: 300px;
  height: 500px;
  margin: 0 0 20px 0;
  border-radius: 15px; }

.imgtrends:hover {
  width: 310px;
  height: 550px;
  transition: 1.5s; }

.primavera {
  width: 100%;
  height: 500px;
  margin: 5px; }

.felizNavidad {
  width: 100%;
  height: 400px;
  margin: 5px; }

.imgCat {
  width: 300px;
  height: 500px;
  margin: 0 0 20px 0;
  border-radius: 15px; }

.imgCat:hover {
  width: 310px;
  height: 550px;
  transition: 1.5s; }

.felizNavidadcat {
  width: 100%;
  height: 300px;
  margin: 0; }

h2 {
  text-align: center; }

h3 {
  font-family: 'Dancing Script', cursive;
  color: black;
  text-align: center; }

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.log-in {
  width: 100%;
  height: calc(100vh - 288px); }

.olvidoPass {
  width: 100%;
  height: calc(100vh - 288px);
  text-align: center; }

.form {
  border-radius: 10px;
  text-align: center;
  width: 50%;
  margin: 7px 25% 0 25%;
  border-style: groove; }

.condiciones {
  font-size: x-large; }

/*Fin de Contenido Pagina*/
/*Media Queries*/
/*Smartphone S*/
@media (min-width: 300px) and (max-width: 400px) {
  header {
    width: 100%;
    height: 10px; }
  .navbar {
    height: 40px; }
  .container {
    margin: 0;
    padding: 0; }
  h1 {
    font-size: small;
    margin: 0; }
  .aside {
    width: 17px;
    height: 17px;
    margin: 0px; }
  #aside {
    display: none; }
  .menu {
    margin: 0;
    padding: 0; }
  .menuBar {
    width: 12px;
    height: 12px;
    margin: 0px; }
  .search {
    width: 20%;
    font-size: 0.5rem;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 0; }
  .tamaño img {
    width: 100vw;
    height: 160px;
    margin: 25px 0 0 0;
    padding: 0; }
  .imgWide {
    width: 150px;
    height: 300px;
    margin: 5px;
    border-radius: 15px; }
  .imgWide:hover {
    width: 150px;
    height: 300px;
    transition: none; }
  .imgtrends {
    width: 150px;
    height: 300px;
    margin: 5px;
    border-radius: 15px; }
  .imgtrends:hover {
    width: 150px;
    height: 300px;
    transition: none; }
  .felizNavidad1 {
    width: 150px;
    height: 200px; }
  .felizNavidad {
    width: 320px;
    height: 150px;
    margin-top: 30px; }
  .primavera {
    width: 320px;
    height: 180px;
    margin-left: 5px; }
  .imgCat {
    width: 150px;
    height: 300px;
    margin: 5px;
    border-radius: 15px;
    margin: 5px; }
  .imgCat:hover {
    width: 150px;
    height: 300px;
    transition: none; }
  .felizNavidadcat {
    width: 320px;
    height: 100px;
    margin-top: 30px; }
  h2 {
    font-size: 0.8rem; }
  h3 {
    font-size: 0.8rem; }
  .form {
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 45px 20% 0 20%; }
  .log-in {
    width: 100%;
    height: calc(100vh - 230px); }
  .olvidoPass {
    width: 100%;
    height: calc(100vh - 230px);
    text-align: center; }
  .grid {
    height: 220px;
    font-size: 8px; }
  .grid__footer {
    gap: 5px;
    margin: 5px; }
  h4 {
    font-size: 11px; }
  .grid--map {
    width: 50px;
    height: 50px; }
  .grid--img {
    width: 15px;
    height: 15px; }
  .condiciones {
    font-size: small; }
  .genero {
    font-size: x-small; } }

/*Smartphone*/
@media (min-width: 401px) and (max-width: 520px) {
  header {
    height: 8px; }
  .navbar {
    height: 40px; }
  h1 {
    font-size: small; }
  .aside {
    width: 20px;
    height: 20px; }
  #aside {
    display: none; }
  .menuBar {
    width: 18px;
    height: 18px; }
  .search1 {
    margin: 0 0 5px 0;
    padding: 0; }
  .search {
    width: 30%;
    font-size: 0.5rem;
    border-radius: 15px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0; }
  .tamaño img {
    height: 200px;
    margin-top: 30px;
    padding: 0;
    transform: none;
    border-radius: 0; }
  .imgWide {
    width: 195px;
    height: 300px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgWide:hover {
    width: 195px;
    height: 300px;
    transition: none; }
  .imgtrends {
    width: 195px;
    height: 300px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgtrends:hover {
    width: 195px;
    height: 300px;
    transition: none; }
  .felizNavidad1 {
    width: 150px;
    height: 200px; }
  .felizNavidad {
    height: 150px;
    margin-top: 30px; }
  .primavera {
    height: 180px; }
  .imgCat {
    width: 195px;
    height: 300px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgCat:hover {
    width: 195px;
    height: 300px;
    transition: none; }
  .felizNavidadcat {
    width: 320px;
    height: 100px;
    margin-top: 45px; }
  .form {
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 45px 20% 0 20%; }
  h2 {
    font-size: 0.8rem; }
  h3 {
    font-size: 1rem; }
  .log-in {
    width: 100%;
    height: calc(100vh - 215px); }
  .olvidoPass {
    width: 100%;
    height: calc(100vh - 215px);
    text-align: center; }
  .registro {
    width: 100%;
    height: calc(100vh - 215px); }
  .grid {
    height: 210px;
    font-size: 9px; }
  .grid__footer {
    gap: 5px;
    margin: 5px; }
  h4 {
    font-size: 11px; }
  .grid--map {
    width: 70px;
    height: 70px; }
  .grid--img {
    width: 15px;
    height: 15px; }
  .condiciones {
    font-size: small; }
  .genero {
    font-size: x-small; } }

/*Tablet*/
@media (min-width: 521px) and (max-width: 780px) {
  header {
    width: 100vw;
    height: 50px;
    margin: 0;
    justify-content: center; }
  .navbar {
    height: 60px; }
  h1 {
    font-size: medium; }
  .search {
    width: 40%;
    height: 20px;
    font-size: 0.5rem;
    border-radius: 15px;
    margin-bottom: 15px; }
  .search1 {
    margin: 0 0 40px 0;
    padding: 0; }
  .aside {
    width: 28px;
    height: 28px;
    margin-left: 20px; }
  #aside {
    display: none; }
  .menuBar {
    width: 25px;
    height: 25px;
    margin-left: 20px; }
  .tamaño img {
    height: 300px;
    margin-top: 5px;
    padding: 0;
    transform: none;
    border-radius: 0; }
  .imgWide {
    width: 250px;
    height: 460px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgWide:hover {
    width: 250px;
    height: 460px;
    transition: none; }
  .imgtrends {
    width: 250px;
    height: 460px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgtrends:hover {
    width: 250px;
    height: 460px;
    transition: none; }
  .primavera {
    height: 250px; }
  .felizNavidad {
    height: 180px; }
  .felizNavidadcat {
    height: 200px;
    margin-top: 5px; }
  .imgCat {
    width: 250px;
    height: 460px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgCat:hover {
    width: 250px;
    height: 460px;
    transition: none; }
  .form {
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 20px 20% 0 20%; }
  .log-in {
    width: 100%;
    height: calc(100vh - 230px); }
  .olvidoPass {
    width: 100%;
    height: calc(100vh - 230px);
    text-align: center; }
  h3 {
    font-size: 20px; }
  .grid {
    height: 210px;
    font-size: 11px; }
  .grid__footer {
    gap: 5px;
    margin: 5px; }
  h4 {
    font-size: 1rem; }
  .grid--map {
    width: 100px;
    height: 100px; }
  .grid--img {
    width: 25px;
    height: 25px; }
  .condiciones {
    font-size: medium; }
  .genero {
    font-size: small; } }

/*Desktop*/
@media (min-width: 781px) and (max-width: 1024px) {
  header {
    width: 100vw;
    height: 40px;
    margin: 0;
    justify-content: center; }
  h1 {
    font-size: large; }
  .aside {
    width: 28px;
    height: 28px; }
  #aside {
    width: 28px;
    height: 28px; }
  .menuBar {
    width: 24px;
    height: 24px;
    margin-left: 10px; }
  .tamaño img {
    height: 450px;
    margin: 0;
    padding: 0;
    border-radius: 0; }
  .imgWide {
    width: 300px;
    height: 550px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgWide:hover {
    width: 300px;
    height: 550px;
    transition: none; }
  .imgtrends {
    width: 300px;
    height: 550px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgtrends:hover {
    width: 300px;
    height: 550px;
    transition: none; }
  .primavera {
    height: 300px; }
  .felizNavidad {
    height: 200px; }
  .felizNavidadcat {
    height: 200px;
    margin-top: 5px; }
  .imgCat {
    width: 300px;
    height: 550px;
    border-radius: 15px;
    margin-left: 5px; }
  .imgCat:hover {
    width: 300px;
    height: 550px;
    transition: none; }
  .form {
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 16px 20% 0 20%; }
  .log-in {
    width: 100%;
    height: calc(100vh - 250px); }
  .olvidoPass {
    width: 100%;
    height: calc(100vh - 250px);
    text-align: center; }
  h3 {
    font-size: 20px; }
  .grid {
    height: 210px;
    font-size: 11px; }
  .grid__footer {
    gap: 5px;
    margin: 5px; }
  h4 {
    font-size: 1rem; }
  .grid--map {
    width: 100px;
    height: 100px; }
  .grid--img {
    width: 25px;
    height: 25px; }
  .condiciones {
    font-size: large; }
  .genero {
    font-size: medium; } }
